* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #7952B3;
}

.title {
    font-size: 64px;
    line-height: 64px;
}

.btn-primary {
    background-color: #61428F;
    border: none;
}

.btn-primary:hover {
    background-color: #61328F;
}

.install {
    font-size: 18px;
}

@media (max-width: 667px) {
    .title {
        font-size: 40px;
        text-align: center;
        line-height: normal;
    }

}